<div style="display: flex; flex-direction: column; width: 100%; align-items: center">
  <div class="basic-form-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions button-53">
        <%= f.button :submit, "Update", class: "hidden-button" %>
      </div>
    <% end %>
  </div>
  <div class="basic-form-container", style="margin-top: 10px; display:flex; flex-direction:column; align-items:center;">
    <h4 style="color: #68C8B1">Cancel my account</h3>

    <p style="color: #6c757d">Unhappy? </p>
    <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <p><%= link_to "Back", :back %></p>
  </div>
</div>
